<!DOCTYPE html>
<html>
<head>
<base href="/">
<link type="text/css" rel="stylesheet" href="wrapper.css">
</head>

<body>
    <div id="navbar">
        <a href="/">Menu</a> 
        <a href="personajes">Personajes</a> 
        <a href="armas">Armas</a> <a href="Artefacto">Artefactos</a>
        <a href="Equipo">Crear equipo</a>
        <a href="listaEquipo">Ver equipos</a>
        <a href="borraEquipo">Borrar equipo</a> 

        <a href="/logout">LogOut</a>
		<a href="/signup">Signup</a>
        <a href="/login">Login</a>
    </div>